h1{
    /*Los estilos que afectarán a cualquier texto con etiqueta h1*/
    color: red;
    font-size: 20px;
    
}
body{
    background-image: url("../img/imagen2.jpg");
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(225, 238, 109);

}

.input-btn{
    background-color:#d15959;
    color: rgb(219, 240, 104);
    border-radius: 3px;
    cursor: pointer
}